{% extends 'main/layout.html' %}

{% block title %}Добавление{% endblock %}

{% block content %}
<div class="features">
    <h1>Добавление статьи на сайт</h1>
    <div class="add-news">
        {% if error %}
            <div class="alert alert-warning add-news-warning vibration">{{ error }}</div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}<br>
            {{ form.title }}<br>
            {{ form.anons }}<br>
            {{ form.ful_text }}<br>
            <div class="add-news-date">
                {{ form.date }}
                <button type="submit" class="btn btn-success">Добавить статью</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
